.svg-play-button-music-interface-sound-dims {
	width: 24px;
	height: 24px;
}

.svg-security-protection-protect-shield-firewall-check-dims {
	width: 24px;
	height: 24px;
}

.svg-security-protection-protect-shield-firewall-check-2-dims {
	width: 24px;
	height: 24px;
}

