.svg-heart-romantic-love-valentines-day-celebration-dims {
	width: 30px;
	height: 30px;
}

.svg-logo-dims {
	width: 206px;
	height: 87px;
}

.svg-play-button-music-interface-sound-dims {
	width: 24px;
	height: 24px;
}

.svg-security-protection-protect-shield-firewall-check-dims {
	width: 24px;
	height: 24px;
}

.svg-security-protection-protect-shield-firewall-check-2-dims {
	width: 24px;
	height: 24px;
}

.svg-social-media-social-media-logo-github-1-dims {
	width: 30px;
	height: 30px;
}

